name: Demo

on:
  workflow_dispatch:

jobs:
  demo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: ./workflow-telemetry-rust
        with:
          metric_frequency: "2"
          metric_iterations: "10"
